name: Build and Test Detections
on:
  push:
    branches: ["main"]
  pull_request: {}

jobs:
  build:
    runs-on: self-hosted
    
    steps:
    # Project Checkout
    - name: Checkout
      uses: actions/checkout@v4

    # Install and configure Sigma with Splunk plugin
    - name: Install Sigma
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install sigma-cli
        sigma plugin install splunk

    # Convert Sigma rules into SPL(Splunk Search Processing Language)
    - name: Convert Sigma to SPL
      run: | 
        mkdir -p generated/splunk
        sigma convert --target splunk --pipeline splunk_windows ./rules > generated/splunk/detections.spl
    
    # Save SPL artifact with the name spl-detections to the generated/splunk directory
    - name: Upload SPL as an artifact
      uses: actions/upload-artifact@v4
      with:
        name: spl-detections
        path: generated/splunk

    # Install Terraform
    - name: Install Terraform
      uses: hashicorp/setup-terraform@v3

    # Terraform formatting check
    - name: Terraform Format
      working-directory: terraform
      run: terraform fmt -check

    # Initialize Terraform
    - name: Terraform Init
      working-directory: terraform
      run: terraform init

    # Test Terraform before deployment
    - name: Terraform Validate
      working-directory: terraform
      run: terraform validate

    # Terraform plan
    - name: Terraform Plan
      id: plan
      working-directory: terraform
      env:
        TF_VAR_splunk_url: ${{ secrets.SPLUNK_URL }}
        TF_VAR_splunk_username: ${{ secrets.SPLUNK_USERNAME }}
        TF_VAR_splunk_password: ${{ secrets.SPLUNK_PASSWORD }}
        TF_VAR_alert_email: ${{ secrets.ALERT_EMAIL }}
        TF_VAR_insecure_skip_verify: "true"
      run: terraform plan

    # Terraform apply (only on main branch)
    - name: Terraform Apply
      if: github.ref == 'refs/heads/main'
      working-directory: terraform
      env:
        TF_VAR_splunk_url: ${{ secrets.SPLUNK_URL }}
        TF_VAR_splunk_username: ${{ secrets.SPLUNK_USERNAME }}
        TF_VAR_splunk_password: ${{ secrets.SPLUNK_PASSWORD }}
        TF_VAR_alert_email: ${{ secrets.ALERT_EMAIL }}
        TF_VAR_insecure_skip_verify: "true"
      run: terraform apply -auto-approve