name: Build and Test Detections
on:
  push:
    branches: ["main"]
  pull_request: {}

jobs:
  build:
    runs-on: self-hosted
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: Install Sigma
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install sigma-cli
        sigma plugin install splunk
    
    - name: Convert Sigma to SPL
      run: | 
        mkdir -p generated/splunk
        sigma convert --target splunk --pipeline splunk_windows ./rules > generated/splunk/detections.spl
    
    - name: Upload SPL as an artifact
      uses: actions/upload-artifact@v4
      with:
        name: spl-detections
        path: generated/splunk